<!DOCTYPE html>

<html>

	<head>

		<%- include('../partials/head.ejs') %>

		<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
		<link rel='stylesheet' href='/css/dashboard.css'>

		<script type='module' src='/js/dashboard.mjs'></script>

	</head>

	<body>

		<header>

			<%- include('../partials/header.ejs') %>

		</header>

		<main>
			<div id='dashboard'>

				<div id='featureSidebar'>

					<%- include('../components/sidebar.ejs') %>

				</div>

				<div id='featureSettingsContainer'>

					<div id='featureHeader'>
						<div>
							<p id='featureName'>REACTION ROLE</p>
							<%- include('../components/settingEnabled.ejs', { subFeature: null }) %>
						</div>

						<p id='featureDescription'>Let members assign themselves roles by leaving reactions on certain messages.</p>
					</div>

					<%- include('../components/addComponent.ejs', {
						featureName: 'reactionRole',
						action: 'create a new Reaction Role',
						channel: false,
						channelURLPlaceholder: '',
						channelURLPattern: '',
						discordChannel: true,
						discordChannelAction: 'the message can be found',
						discordMessage: true,
						saveFunction: 'createComponentReactionRole(event)'
					}) %>

					<% for (const channel in settings.channels) {
						for (const message in settings.channels[channel]) {

							const { messageContent, ...reactions } = settings.channels[channel][message] %>

							<%- include('../components/reactionRole.ejs', { message: message, channel: channel, messageContent: messageContent, reactions: reactions }) %>

						<% }

					} %>

					<%- include('../components/saveChanges.ejs', { cancelFunction: null, saveFunction: null }) %>

				</div>

			</div>
		</main>

		<footer>

			<%- include('../partials/footer.ejs') %>

		</footer>

	</body>

</html>
