<!DOCTYPE html>

<html>

	<head>

		<%- include('../partials/head.ejs') %>

		<link rel='stylesheet' href='/css/dashboard.css'>

		<script type='module' src='/js/dashboard.mjs'></script>

	</head>

	<body>

		<header>

			<%- include('../partials/header.ejs') %>

		</header>

		<main>
			<div id='dashboard'>

				<div id='featureSidebar'>

					<%- include('../components/sidebar.ejs') %>

				</div>

				<div id='featureSettingsContainer'>

					<div id='featureHeader'>
						<div>
							<p id='featureName'>SERVER MESSAGES</p>
						</div>

						<p id='featureDescription'>Send out a message when certain events happen in your server.</p>
					</div>

					<% for (const subFeature in settings) { %>

						<%- include('../components/serverMessage.ejs', { subFeature: subFeature, settings: settings[subFeature] }) %>

					<% } %>

					<%- include('../components/saveChanges.ejs', { cancelFunction: null, saveFunction: null }) %>

				</div>

			</div>
		</main>

		<footer>

			<%- include('../partials/footer.ejs') %>

		</footer>

	</body>

</html>
