<!DOCTYPE html>

<html>

	<head>

		<%- include('../partials/head.ejs') %>

		<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
		<link rel='stylesheet' href='/css/dashboard.css'>

		<script type='module' src='/js/dashboard.mjs'></script>

	</head>

	<body>

		<header>

			<%- include('../partials/header.ejs') %>

		</header>

		<main>
			<div id='dashboard'>

				<div id='featureSidebar'>

					<%- include('../components/sidebar.ejs') %>

				</div>

				<div id='featureSettingsContainer'>

					<div id='featureHeader'>
						<div>
							<p id='featureName'>SETTINGS</p>
						</div>

						<p id='featureDescription'>Manage the more general behaviour for your server.</p>
					</div>

					<%- include('../components/saveChanges.ejs', { cancelFunction: 'cancelGeneralSettingsChanges(event)', saveFunction: 'saveGeneralSettingsChanges(event)' }) %>

				</div>

			</div>
		</main>

		<footer>

			<%- include('../partials/footer.ejs') %>

		</footer>

	</body>

</html>
