<!DOCTYPE html>

<html>

	<head>

		<%- include('../partials/head.ejs') %>

		<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
		<link rel='stylesheet' href='/css/dashboard.css'>

		<script type='module' src='/js/dashboard.mjs'></script>

	</head>

	<body>

		<header>

			<%- include('../partials/header.ejs') %>

		</header>

		<main>
			<div id='dashboard'>

				<div id='featureSidebar'>

					<%- include('../components/sidebar.ejs') %>

				</div>

				<div id='featureSettingsContainer'>

					<div id='featureHeader'>
						<div>
							<p id='featureName'>STREAMER SHOUTOUT</p>
							<%- include('../components/settingEnabled.ejs', { subFeature: null }) %>
						</div>

						<p id='featureDescription'>Give out a role to streamers when they are streaming so that they are more visible in your server.</p>
					</div>

					<div id='featureSettings'>

						<div id='requiredRole' class='settingsContainer'>
							<p class='settingsHeaderName'>REQUIRED ROLE</p>
							<p class='settingsHeaderDescription'>One or multiple roles of which a streaming member needs to have at least one to receive the shoutout role.</p>

							<div class='discordRoles'>
								<%- include('../components/manageDiscordRoles.ejs', { roles: settings.requiredRole }) %>
							</div>
						</div>

						<div id='shoutoutRole' class='settingsContainer'>
							<p class='settingsHeaderName'>SHOUTOUT ROLE</p>
							<p class='settingsHeaderDescription'>The role a qualifying streaming member will receive whilst they are streaming.</p>

							<div class='discordRoles' data-single-role='true'>
								<%- include('../components/manageDiscordRole.ejs', { role: settings.shoutoutRole }) %>
							</div>
						</div>

					</div>

					<%- include('../components/saveChanges.ejs', { cancelFunction: 'cancelStreamerShoutoutChanges(event)', saveFunction: 'saveStreamerShoutoutChanges(event)' }) %>

				</div>

			</div>
		</main>

		<footer>

			<%- include('../partials/footer.ejs') %>

		</footer>

	</body>

</html>
