<!DOCTYPE html>

<html>

	<head>

		<%- include('../partials/head.ejs') %>

		<link rel='stylesheet' href='/css/dashboard.css'>

		<script type='module' src='/js/dashboard.mjs'></script>

	</head>

	<body>

		<header>

			<%- include('../partials/header.ejs') %>

		</header>

		<main>
			<div id='dashboard'>

				<div id='featureSidebar'>

					<%- include('../components/sidebar.ejs') %>

				</div>

				<div id='featureSettingsContainer'>

					<div id='featureHeader'>
						<div>
							<p id='featureName'>YOUTUBE</p>
							<%- include('../components/settingEnabled.ejs', { subFeature: null }) %>
						</div>

						<p id='featureDescription'>Send out an announcement every time your favourite YouTuber uploads a new video.</p>
					</div>

					<%- include('../components/addComponent.ejs', {
						featureName: 'YouTube',
						action: 'follow a new YouTube channel',
						channel: true,
						channelURLPlaceholder: 'https://www.youtube.com/...',
						channelURLPattern: '^(?:https:\/\/)?(?:www\.)?youtube\.com\/(?:channel\/(?:UC[\w-]{21}[AQgw])|(?:@[\w-]+))$',
						discordChannel: true,
						discordChannelAction: 'the announcements will be sent',
						discordMessage: false,
						saveFunction: 'createComponentSubscribedChannel(event)'
					}) %>

					<% for (const channel of settings.channels) { %>

						<%- include('../components/subscribedChannel.ejs', { settings: channel.settings, resources: channel.resources }) %>

					<% } %>

					<%- include('../components/saveChanges.ejs', { cancelFunction: null, saveFunction: null }) %>

				</div>

			</div>
		</main>

		<footer>

			<%- include('../partials/footer.ejs') %>

		</footer>

	</body>

</html>
