<!DOCTYPE html>

<html>

	<head>

		<%- include('../partials/head.ejs') %>

		<link rel='stylesheet' href='/orbit/css/dashboard.css'>
		<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

		<script src='/orbit/js/dashboard.js' defer></script>

	</head>

	<body>

		<header>

			<%- include('../partials/header.ejs') %>

		</header>

		<main>
			<div id='dashboard'>

				<div id='featureSidebar'>

					<%- include('../components/sidebar.ejs') %>

				</div>

				<div id='featureSettings'>

					<div id='featureHeader'>
						<div>
							<p id='featureName'>YOUTUBE</p>
							<%- include('../components/settingEnabled.ejs') %>
						</div>
						<p id='featureDescription'>Send out an announcement every time your favourite YouTuber uploads a new video.</p>
					</div>

					<%- include('../components/saveChanges.ejs') %>

				</div>

			</div>
		</main>

		<footer>

			<%- include('../partials/footer.ejs') %>

		</footer>

	</body>

</html>
