<div class='featureOverview'>
	<span class='manageSettings material-icons' onclick="location.href = '<%= `/dashboard/${guildData.id}/${featureURL}` %>'">settings</span>

	<% if (featureIconSVG) { %> <svg class='featureOverviewIcon' viewBox='0 0 24 24'> <%- include(`../../public/resources/${featureIcon}.ejs`) %> </svg> <% }
	else { %> <span class='featureOverviewIcon material-icons'><%= featureIcon %></span> <% } %>
	<span class='syncChanges material-icons'></span>

	<p class='featureOverviewName'><%= featureName %></p>

	<div class='settingEnabled'>
		<input class='settingEnabledSwitch' type='checkbox' onclick="saveSettingEnabledFeatureOverview(event, '<%= featurePath %>')" <%= enabled ? 'checked' : '' %>>
	</div>
</div>
