<div class='reactionRole' data-id='<%= message %>' data-discord-channel='<%= channel %>' onclick="expandSettings(event, '.reactionRoleSettings')">

	<div class='reactionRoleHeader'>

		<div class='reactionRoleData'>
			<p class='reactionRoleChannelName'>#<%= guildChannels.find((guildChannel) => guildChannel.id === channel)?.name %></p>
			<%- messageContent ? `<p class='reactionRoleMessage'>${messageContent}</p>` : `<p class='reactionRoleMessage' style='color: var(--colour-red);'>This message could not be retrieved and has likely been deleted.</p>` %>
		</div>

		<div class='reactionRoleHeaderSideContainer'>
			<span class='syncChanges material-icons'></span>
			<span class='deleteElement material-icons' onclick='deleteReactionRole(event)'>delete</span>

			<span class='expandSettings material-icons'>expand_more</span>
		</div>

	</div>

	<div class='reactionRoleSettings'>

		<p class='reactionRoleSettingsHeader'>Reactions</p>

		<div class='reactionRoleSettingsContainer'>

			<% for (const emoji in reactions) {

				const guildEmoji = guildEmojis.find((guildEmoji) => guildEmoji.id === emoji) %>

				<div class='reactionRoleReaction'>
					<span class='deleteReactionRoleReaction material-icons' onclick='deleteReactionRoleReaction(event)'>clear</span>

					<img class='reactionRoleEmoji' data-emoji='<%= emoji %>' src="<%= guildEmoji ? `https://cdn.discordapp.com/emojis/${guildEmoji.id}.${guildEmoji.animated ? 'gif' : 'png'}?size=24` : `https://twemoji.maxcdn.com/v/12.1.2/svg/${emoji.codePointAt(0).toString(16)}.svg` %>">

					<%- include('../components/manageDiscordRoles.ejs', { roles: reactions[emoji] }) %>
				</div>

			<% } %>

			<div class='reactionRoleSettingsContainerFooter'>

				<div class='addReactionRoleReaction' onclick='addReactionRoleReaction(event)'>
					<span class='material-icons'>add_reaction</span>
				</div>

				<%- include('../components/formButtons.ejs', { cancelFunction: 'cancelReactionRoleChanges(event)', saveFunction: 'saveReactionRoleChanges(event)' }) %>

			</div>

		</div>

	</div>

</div>
