<div class='subscribedChannel' onclick='expandSettings()'>

	<div class='subscribedChannelHeader'>

		<div class='subscribedChannelData'>
			<img class='subscribedChannelImage' src='<%= channel.resources.profile_image_url || channel.resources.thumbnails.default.url %>'>
			<p class='subscribedChannelName'><%= channel.resources.display_name || channel.resources.title %></p>
		</div>

		<div class='subscribedChannelHeaderSideContainer'>
			<p class='headerDiscordChannelName'>#<%= guildChannels.find((guildChannel) => guildChannel.id === channel.settings.channel)?.name %></p>
			<button class='deleteElementButton' type='button' onclick='deleteSubscribedChannel(event)'>DELETE</button>
		</div>

	</div>

	<div class='subscribedChannelSettings'>
		<form class='subscribedChannelSettingsForm'>

			<div class='subscribedChannelSettingsMessageContainer'>
				<p class='subscribedChannelSettingsHeader'>Message</p>
				<textarea class='subscribedChannelSettingsMessage' maxlength='2000' placeholder='An optional message attached to each announcement.'><%= channel.settings.message %></textarea>
			</div>

			<div class='subscribedChannelSettingsSideContainer'>

				<div>
					<p class='subscribedChannelSettingsHeader'>Discord channel</p>

					<%- include('../components/listDiscordChannel.ejs', { currentDiscordChannel: channel.settings.channel }) %>

				</div>

				<%- include('../components/formButtons.ejs', { cancelFunction: 'cancelSubscribedChannelChanges(event)', saveFunction: 'saveSubscribedChannelChanges(event)' }) %>

			</div>

		</form>
	</div>

</div>
