<div class='subscribedChannel' data-id='<%= settings.username %>' onclick="expandSettings(event, '.subscribedChannelSettings')">

	<div class='subscribedChannelHeader'>

		<div class='subscribedChannelData'>
			<img class='subscribedChannelImage' src='<%= resources.profile_image_url || resources.thumbnails.default.url %>'>
			<p class='subscribedChannelName'><%= resources.display_name || resources.title %></p>
		</div>

		<div class='subscribedChannelHeaderSideContainer'>
			<p class='headerDiscordChannelName'>#<%= guildChannels.find((guildChannel) => guildChannel.id === settings.channel)?.name %></p>
			<span class='syncChanges material-icons'></span>

			<button class='deleteElementButton' type='button' onclick='deleteSubscribedChannel(event)'>DELETE</button>
		</div>

	</div>

	<div class='subscribedChannelSettings'>
		<div class='subscribedChannelSettingsContainer'>

			<div class='subscribedChannelMessageContainer'>
				<p class='subscribedChannelSettingsHeader'>Message</p>
				<textarea class='subscribedChannelMessage' maxlength='2000' placeholder='An optional message attached to each announcement.'><%= settings.message %></textarea>
			</div>

			<div class='subscribedChannelSettingsSideContainer'>

				<div>
					<p class='subscribedChannelSettingsHeader'>Discord channel</p>
					<%- include('../components/listDiscordChannel.ejs') %>
				</div>

				<%- include('../components/formButtons.ejs', { cancelFunction: 'cancelSubscribedChannelChanges(event)', saveFunction: 'saveSubscribedChannelChanges(event)' }) %>

			</div>

		</div>
	</div>

</div>
