<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<link rel='stylesheet' href='/css/dashboard.css'>

		<script src='/js/manageData.js' defer></script>

	</head>

	<body>

		<header>

			<%- include('./partials/header.ejs') %>

		</header>

		<div id='featureContainer'>

			<ul id='featureNav'>

				<% for (const featureName in guildSettings) { %>
					<li id='<%= featureName %>' class='featureLink' onclick="displaySettingData('<%= featureName %>')"><%= featureName %></li>
				<% } %>

			</ul>

		</div>

		<div id='settingData' data-feature=''>
			<ul id='settingList'>

			</ul>
		</div>

		<script>
			const guildSettings = <%- JSON.stringify(guildSettings) %>;
			const channels = <%- JSON.stringify(channels) %>;
			const roles = <%- JSON.stringify(roles) %>;

			fetch('/resources/translations.json').then((json) => json.json().then((data) => {
				translations = data;
				for (const element of document.getElementsByClassName('featureLink')) element.textContent = translateJSON(element.textContent);
			}));
		</script>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
