<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<link rel='stylesheet' href='/css/dashboard.css'>

		<script type='module' src='/js/dashboard.mjs'></script>

	</head>

	<body>

		<header>

			<%- include('./partials/header.ejs') %>

		</header>

		<main>
			<div id='dashboard'>

				<div id='featureSidebar'>

					<%- include('./components/sidebar.ejs') %>

				</div>

				<div id='featureSettingsContainer'>

					<div id='featureHeader'>
						<div>
							<p id='featureName'>DASHBOARD</p>
						</div>
						<p id='featureDescription'>An overview of all the features that are available in your server.</p>
					</div>

					<% if (missingPermissions.length) { %>

						<div id='missingPermissionsContainer'>

							<div id='missingPermissionsHeader'>
								<span class='material-icons'>error</span>
								<p>Lunar is missing some of the permissions it needs to function correctly:</p>
							</div>

							<div id='missingPermissions'>
								<% for (const permission of missingPermissions) { %>
									<p>&bullet; <%= permission %></p>
								<% } %>
							</div>

						</div>

					<% } %>

					<div class='featureOverviewCategory'>

						<p class='featureOverviewCategoryName'>SERVER</p>
						<p class='featureOverviewCategoryDescription'>These are the features that have a server-wide effect when enabled.</p>

						<div class='featureOverviewContainer'>

							<%- include('./components/featureOverview.ejs', { featureURL: 'serverMessages', featureIconSVG: null, featureIcon: 'person_add', featureName: 'WELCOMING MESSAGE', featurePath: 'serverMessages.welcoming', enabled: settings.serverMessages.welcoming.enabled }) %>

							<%- include('./components/featureOverview.ejs', { featureURL: 'serverMessages', featureIconSVG: null, featureIcon: 'person_remove', featureName: 'FAREWELL MESSAGE', featurePath: 'serverMessages.farewell', enabled: settings.serverMessages.farewell.enabled }) %>

							<%- include('./components/featureOverview.ejs', { featureURL: 'streamerShoutout', featureIconSVG: null, featureIcon: 'campaign', featureName: 'STREAMER SHOUTOUT', featurePath: 'streamerShoutout', enabled: settings.streamerShoutout.enabled }) %>

						</div>

					</div>

					<div class='featureOverviewCategory'>

						<p class='featureOverviewCategoryName'>SOCIALS</p>
						<p class='featureOverviewCategoryDescription'>These are the features that perform an action on social media changes.</p>

						<div class='featureOverviewContainer'>

							<%- include('./components/featureOverview.ejs', { featureURL: 'twitch', featureIconSVG: true, featureIcon: 'icon_twitch', featureName: 'TWITCH', featurePath: 'twitch', enabled: settings.twitch.enabled }) %>

							<%- include('./components/featureOverview.ejs', { featureURL: 'youtube', featureIconSVG: true, featureIcon: 'icon_youtube', featureName: 'YOUTUBE', featurePath: 'youtube', enabled: settings.youtube.enabled }) %>

						</div>

					</div>

					<div class='featureOverviewCategory'>

						<p class='featureOverviewCategoryName'>OTHER</p>
						<p class='featureOverviewCategoryDescription'>These are the features that do not necessarily fit with the other categories.</p>

						<div class='featureOverviewContainer'>

							<%- include('./components/featureOverview.ejs', { featureURL: 'reactionRole', featureIconSVG: null, featureIcon: 'add_reaction', featureName: 'REACTION ROLE', featurePath: 'reactionRole', enabled: settings.reactionRole.enabled }) %>

						</div>

					</div>

					<%- include('./components/saveChanges.ejs', { cancelFunction: null, saveFunction: null }) %>

				</div>

			</div>
		</main>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
