<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<script src='/js/manageData.js' defer></script>

	</head>

	<body>

		<%- include('./partials/header.ejs') %>

		<% for (const featureName in guildSettings) { %>
			<button type='button' id='<%= featureName %>' onclick="displaySettingData('<%= featureName %>')"><%= featureName %></button>
		<% } %>

		<div id='settingData' data-feature=''>

		</div>

		<button id='save' type='button' onclick='saveSettingData()'>Save</button>

		<!-- TODO: Remove from production -->
		<pre id='logSettingData'></pre>

		<script>
			const guildSettings = <%- JSON.stringify(guildSettings) %>;
			const channels = <%- JSON.stringify(channels) %>;
			const roles = <%- JSON.stringify(roles) %>;
		</script>

	</body>

	<footer>

		<%- include('./partials/footer.ejs') %>

	</footer>

</html>
