<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<script src='/js/manageData.js' defer></script>

	</head>

	<body>

		<%- include('./partials/header.ejs') %>

		<% for (const setting in guildSettings) { %>
			<button type='button' id='<%= setting %>' onclick="displaySettingData(<%= JSON.stringify(guildSettings[setting]) %>, '<%= setting %>')"><%= setting %></button>
		<% } %>

		<input id='enabledCheckbox' type='checkbox'>
		<label for='enabledCheckbox'>Enabled</label>

		<pre id='settingData' data-setting=''>

		</pre>

		<button id='save' type='button' onclick='saveSettingData()'>Save</button>

	</body>

	<footer>

		<%- include('./partials/footer.ejs') %>

	</footer>

</html>
