<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<link rel='stylesheet' href='/orbit/css/guildSelect.css'>

	</head>

	<body>

		<header>

			<%- include('./partials/header.ejs') %>

		</header>

		<main>

			<div id='guildContainer'>
				<div id='row'>

					<% for (const guild of guilds) { %>

						<% if (guild.joined) { %> <div class='card' onclick="location.href = '/orbit/dashboard/<%= guild.id %>'"> <% }
						else { %> <div class='card' onclick="location.href = '/orbit/auth/server/<%= guild.id %>'"> <% } %>

							<div class='guildIcon'>
								<% if (guild.icon) { %> <img src='https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png' draggable='false' alt='Guild icon'> <% }
								else { %> <div class='guildIconText'> <%= guild.name.split(' ').slice(0, 3).map((word) => word[0]).join('') %> </div> <% } %>
							</div>

							<div class='cardBody'>
								<p class='guildName'><%= guild.name %></p>

								<p class='guildButton'>
									<% if (guild.joined) { %> Manage server <% }
									else { %> Invite Lunar <% } %>
								</p>
							</div>

						</div>

					<% } %>

				</div>
			</div>

		</main>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
