<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<link rel='stylesheet' href='/css/guildSelect.css'>

	</head>

	<body>

		<header>

			<%- include('./partials/header.ejs') %>

		</header>

		<main>
			<div id='guildContainer'>

				<% if (guilds.length) {
					for (const guild of guilds) { %>

						<div class='guild' onclick="location.href = '<%= (guild.joined ? `/dashboard/${guild.id}` : `/auth/server/${guild.id}`) %>'">

							<div class='guildIcon'>
								<% if (guild.icon) { %> <img src='<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` %>' draggable='false'> <% }
								else { %> <div><%= guild.name.split(' ').slice(0, 3).map((word) => word[0]).join('') %></div> <% } %>
							</div>

							<p class='guildName'><%= guild.name %></p>

							<% if (guild.joined) { %> <button class='manageButton' type='button'>MANAGE</button> <% }
							else { %> <button class='inviteButton' type='button'>INVITE</button> <% } %>

						</div>

					<% }
				} else { %>

					<div id='noGuildsMessage'>
						<p>It is awfully quiet in here...</p>
						<p>You are either <span style='color: var(--colour-orange)'>not part of any server</span> yet or <span style='color: var(--colour-orange)'>do not have permission</span> to manage Lunar for the ones you are in.</p>
					</div>

				<% } %>

			</div>
		</main>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
