<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<link rel='stylesheet' href='/css/guildSelect.css'>

	</head>

	<body>

		<header>

		<%- include('./partials/header.ejs') %>

		</header>

		<p id='welcomeMessage'>Welcome to Orbit, <%= user.username %>!</p>

		<% for (const guild of guilds) { %>
			<a href='/dashboard/<%= guild.id %>'><%= guild.name %></a>
		<% } %>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
