<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<link rel='stylesheet' href='/css/guildSelect.css'>

	</head>

	<body>

		<header>

			<%- include('./partials/header.ejs') %>

		</header>

		<main>
			<div id='guildContainer'>

				<% for (const guild of guilds) { %>

					<div class='guild' onclick="location.href = '<%= (guild.joined ? `/dashboard/${guild.id}` : `/auth/server/${guild.id}`) %>'">

						<div class='guildIcon'>
							<% if (guild.icon) { %> <img src='<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` %>' draggable='false'> <% }
							else { %> <div><%= guild.name.split(' ').slice(0, 3).map((word) => word[0]).join('') %></div> <% } %>
						</div>

						<p class='guildName'><%= guild.name %></p>

						<% if (guild.joined) { %> <button class='manageButton' type='button'>MANAGE</button> <% }
						else { %> <button class='inviteButton' type='button'>INVITE</button> <% } %>

					</div>

				<% } %>

			</div>
		</main>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
