<!DOCTYPE html>

<html>

	<head>

		<%- include('./partials/head.ejs') %>

		<link rel='stylesheet' href='/css/guildSelect.css'>

	</head>

	<body>

		<header>

		<%- include('./partials/header.ejs') %>

		</header>

		<div id='guildContainer'>
			<div id='row'>

				<% for (const guild of guilds) { %>
					<div class='card'>

						<div class='guildIcon'>
							<img src='https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png' draggable='false' alt='Guild icon'>
						</div>

						<div class='cardBody'>
							<p class='guildName'><%= guild.name %></p>

							<% if (guild.joined) { %> <a class='guildButton' href='/dashboard/<%= guild.id %>'>Manage server</a> <% }
							else { %> <a class='guildButton' href='/auth/server/<%= guild.id %>'>Invite Lunar</a> <% } %>

						</div>

					</div>
				<% } %>

			</div>
		</div>

		<footer>

			<%- include('./partials/footer.ejs') %>

		</footer>

	</body>

</html>
